-i https://pypi.org/simple
cycler==0.10.0
freetype-py==2.1.0.post1
kiwisolver==1.4.4
matplotlib>=3.7.0
numpy==1.24.0
pillow>=9.1.0
plyfile==0.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
scipy==1.10.1
shapely==1.8.5
six==1.14.0
torch==2.0.0
torchvision==0.15
vispy==0.15.2
