Package     Version
----------- ------------
gmsh        4.14.1
matplotlib  3.10.5
meshio      5.3.5
pip         24.0
plyfile     0.7.1
scipy       1.10.1
setuptools  65.5.0
Shapely     1.8.5
torchaudio  2.0.2+cu117
torchvision 0.15.2+cu117
trimesh     4.7.3
vispy       0.15.2
